<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926171354534-fa1djacrkdphpj25mf3brgvg5ainqdsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926171354534-fa1djacrkdphpj25mf3brgvg5ainqdsa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>926171354534-m8lgvhh9r7qpbp109jljlpfc2lqti2i2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9LS9Wf3n6MmRlnf4THAcQUIcR8Ksga-w</string>
	<key>GCM_SENDER_ID</key>
	<string>926171354534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.easypos-test</string>
	<key>PROJECT_ID</key>
	<string>paylanes-5d1e5</string>
	<key>STORAGE_BUCKET</key>
	<string>paylanes-5d1e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926171354534:ios:64055396c825233d</string>
	<key>DATABASE_URL</key>
	<string>https://paylanes-5d1e5.firebaseio.com</string>
</dict>
</plist>